/*
* 登录页面样式
*/

/*公用*/
body {
    background-color: #f5f5f5;
}
.comwidth {
    width: 900px;
    margin: 0 auto;
}

/*header*/
.header {
    height: 80px;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
}
.header span {
    float: left;
    margin-top: 15px;
}
.header img {
    height: 50px;
}
.header h1 {
    line-height: 50px;
    border-left: 1px solid #ddd;
    margin-left: 15px;
    padding-left: 15px;
    font-family: sans-serif;
}





/*login_main*/
.login_main {
    width: 460px;
    margin-top: 100px;
}
.login_main .login_txtbox {
    width: 458px;
    height: 48px;
    border: 1px solid #ccc;
    margin-top: 10px;
    background-color: #fff;
    position: relative;
}
.login_main .login_txtbox .lab_input {
    display: block;
    position: absolute;
    z-index: 1;
    left: 39px;
    color: #8e8e8e;
    font-size: 16px;
    line-height: 48px;
    cursor: text;
    background: #fff;
}
.login_main .login_txtbox img {
    position: absolute;
    top: 16px;
    left: 20px;
}
.login_main .login_txtbox input {
    height: 46px;
    width: 424px;
    line-height: 48px;
    font-size: 16px;
    padding-left: 5px;
    background: transparent;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 39px;
}
.login_main input[type="submit"] {
    width: 460px;
    height: 50px;
    margin-top: 30px;
    background-color: #ffb400;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
}
.login_main p {
    margin-top: 15px;
}
.login_main p a {
    color: #8e8e8e;
    padding: 0 5px;
}






/*footer*/
.footer_links {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.footer_links a {
    color: #8e8e8e;
    margin: 0 5px;
}
.copyright {
    text-align: center;
    margin-bottom: 25px;
    color: #8e8e8e;
}