/*
* 用户中心界面效果
*/
/*公用*/
body {
    background-color: #fff;
}
.comwidth {
    width: 1200px;
    margin: 0 auto;
}
.down {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #575757;
    position: absolute;
}
.up {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #575757;
    position: absolute;
}
.left {
    border-left: 6px solid transparent;
    border-right: 6px solid #575757;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute;
}
.right {
    border-left: 6px solid #575757;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    position: absolute;
}
a:hover {
    text-decoration: underline;
}
.fl {
    float: left;
}
.fr {
    float: right;
}







/*header_top*/
.header_top {
    display: block;
    overflow: hidden;
    height: 29px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    font-family: "Microsoft Yahei", "微软雅黑";
    background-image: -webkit-linear-gradient(bottom, #fff, #eee);
    background-image: -moz-linear-gradient(bottom, #fff, #eee);
    background-image: -o-linear-gradient(bottom, #fff, #eee);
    background-image: -ms-linear-gradient(bottom, #fff, #eee);
    color: #8e8e8e;
}
.header_left {
    display: block;
    float: left;
    overflow: hidden;
}
.header_right li {
    float: right;
    display: block;
    line-height: 29px;
    padding-left: 10px;
    overflow: hidden;
}

.header_right li a {
    color: #8e8e8e;
}
/*header_bottom*/
.header_bottom {
    height: 99px;
//border-bottom: 1px solid #eee;
}
.header_bottom .logo {
    position: relative;
    width: 220px;
    height: 69px;
    float: left;
    overflow: hidden;
}
.search {
    float: left;
    margin: 17px 10px 0;
}
.search input[type="text"] {
    float: left;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    width: 600px;
    border: 2px solid #000;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    padding: 0 5px;
}
.search input[type="submit"] {
    float: right;
    height: 39px;
    width: 80px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    font-family: "Microsoft Yahei", "微软雅黑";
    cursor: pointer;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    -moz-border-top-right-radius: 0.3em;
    -moz-border-bottom-right-radius: 0.3em;
    -webkit-border-top-right-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
}
.user {
    float: left;
    height: 28px;
    width: 108px;
    margin: 25px 15px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    position: relative;
}
.user .user_text img, .cart img  {
    padding: 3px 0 0 10px;
}
.user .user_text a, .cart a {
    float: right;
    color: #575757;
    font-size: 16px;
    font-family: "Microsoft Yahei", "微软雅黑";
    line-height: 28px;
    margin-right: 18px;
    overflow: hidden;
}
.user_list {
    display: none;
    width: 108px;
    height: 104px;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 20;
    top: 28px;
    right: 0;
    background-color: #fefefe;
}
.user_list li {
    height: 26px;
    width: 108px;
}
.user_list li a {
    padding: 5px 25px;
    font-size: 14px;
    line-height: 26px;
    color: #8e8e8e;
}
.user_list li:hover {
    background-color: #ffb400;
}
.user_list li a:hover {
    text-decoration: none;
    color: #fafafa;
}
.cart {
    float: right;
    height: 28px;
    width: 108px;
    border: 1px solid #ddd;
    margin: 25px 5px;
    background-color: #f7f7f7;
    position: relative;
}
.cart .shop_num {
    position: absolute;
    top: 0;
    left: 17px;
    color: #ff1427;
    font-size: 18px;
    font-weight: bolder;
}
.user .user_text .angle, .cart .shop_text>.angle {
    display: block;
    top: 13px;
    right: 3px;
    border-top-color: #575757;
}
.cat_list {
    clear: left;
}
.cat_list li {
    float: left;
    width: 133px;
    height: 40px;
    background-color: #000;
    text-align: center;
}
.cat_list li a {
    color: #fff;
    font-size: 18px;
    font-family: "Microsoft Yahei", "微软雅黑";
    line-height: 40px;
    text-decoration: none;
}








/*main*/
.mini_site {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.mini_site a, .mini_site span {
    color: #8e8e8e;
    font-size: 14px;
    font-family: "Microsoft Yahei", "微软雅黑";
    line-height: 35px;
}
.con_left {
    width: 178px;
    height: auto;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
}
.con_left .ucenter_title {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
.ucenter_main .userheader {
    text-align: center;
    padding: 20px 0;
}
.ucenter_main .userheader {
    width: 100px;
    height: 100px;
    padding: 5px 7px 7px 5px;
}
.ucenter_main .usernav h3 {
    height: 37px;
    padding-left: 20px;
    line-height: 37px;
    font-family: Arial,helvetica,sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #e1e1e1;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.ucenter_main .usernav li {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px #e2e2e2 solid;
}
.ucenter_main .usernav li a {
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
    font-family: Arial,helvetica,sans-serif;
    font-size: 12px;
    color: #666;
    display: block;
    text-decoration: none;
}
.ucenter_main .usernav li a:hover {
    color: #fafafa;
    background-color: #ffb400;
}
.ucenter_main .usernav #myComment {
    background-color: #ffb400;
}
.ucenter_main .usernav #myComment a {
    color: #fafafa;
}
.con_right {
    width: 1000px;
    margin-bottom: 10px;
}
.goods_comm, .log_comm, .rule_comm {
    background-color: #f7f7f7;
    margin-bottom: 10px;
    padding: 10px;
}
.comm_tit {
    margin-bottom: 10px;
}
.comm_tit p {
    color: #aaa;
    line-height: 16px;
}
.comm_cont {
    border: 1px solid #eee;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}
.comm_cont a {
    color: #4ea9ff;
}
.comm_cont li {
    float: left;
}
.comm_cont .cont_head {
    background-color: #f7f7f7;
    height: 35px;
    line-height: 35px;
}
.comm_cont .cont_body {
    line-height: 60px;
}
.comm_cont .goods_info {
    width: 610px;
}
.comm_cont .cont_body .goods_info {
    text-align: left;
}
.comm_cont .cont_body .goods_info img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-right: 10px;
}
.comm_cont .buy_time {
    width: 150px;
}
.comm_cont .comm_stat {
    width: 198px;
}
.cont_body .comm_det {
    display: none;
}
 .comm_det {
    text-align: left;
    border: 1px solid #4ea9ff;
    padding: 20px 0 0 50px;
    font-size: 16px;
    line-height: 16px;
    font-family: "Microsoft Yahei", "微软雅黑";
    background-color: rgba(78, 169, 255, 0.02);
}
.comm_det div {
    margin-bottom: 20px;
}
.comm_det em {
    color: #ff1427;
    margin-right: 5px;
}
.comm_det .comm_star {
    width: 105px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    zoom: 1;
    background: url(../image/icon/commstar.jpg) 0 -21px repeat-x;
    margin-right: 10px;
}
.comm_det .comm_star a {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 20px;
}
.comm_det .comm_star a:hover, .comm_det .comm_star .active {
    background: url(../image/icon/commstar.jpg) left top repeat-x;
}
.comm_det .comm_star .star1 {
    width: 20%;
    z-index: 9;
}
.comm_det .comm_star .star2 {
    width: 40%;
    z-index: 8;
}
.comm_det .comm_star .star3 {
    width: 60%;
    z-index: 7;
}
.comm_det .comm_star .star4 {
    width: 80%;
    z-index: 6;
}
.comm_det .comm_star .star5 {
    width: 100%;
    z-index: 5;
}
.comm_det .result {
    color: #ffb400;
    border: 1px solid #ffb400;
    padding: 2px 5px;
}
.comm_det .comment .area {
    height: 100px;
    width: 500px;
    vertical-align: top;
    padding: 5px;
    border: 1px solid #ddd;
}
.comm_det .submit a {
    border: 1px solid #4ea9ff;
    color: #575757;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 8px;
    background-image: linear-gradient(to bottom, #a0ceff, #e4edff);
}

/*.logistic_inc .top_top {
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
    color: #ffb400;
}*/
.logistic_inc .top_top img {
    width: 200px;
    height: 152px;
    vertical-align: middle;
}
.logistic_inc .top_bottom {
    width: 450px;
    text-align: left;
}
.logistic_inc  .top_bottom strong, .top_bottom p {
    font-size: 18px;
    font-family: "Microsoft Yahei", "微软雅黑";
    color: #ff1427;
}
.logistic_inc .top_bottom .rate {
    margin: 20px 10px;
}
.logistic_inc .top_bottom .percent {
    margin-top: 10px;
}
.logistic_inc .top_bottom .percent dl {
    padding: 2px;
    clear: both;
}
.logistic_inc .top_bottom .percent dt {
    width: 100px;
    line-height: 18px;
    float: left;
}
.logistic_inc .top_bottom .percent dd {
    width: 100px;
    height: 10px;
    margin-top: 6px;
    overflow: hidden;
    background: #eee;
}
.logistic_inc .top_bottom .percent dd div {
    overflow: hidden;
    height: 10px;
    background-color: #ED0000;
    background-image: linear-gradient(to right, #a50000 0, #ed0000 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0,#a50000),color-stop(1,#ed0000));
    background-image: -moz-linear-gradient(left, #a50000 0, #ed0000 100%);
    background-image: -ms-linear-gradient(left, #a50000 0, #ed0000 100%);
}
.logistic_inc .top_bottom .score {
    width: 100px;
    padding: 20px;
}
.logistic_inc .top_bottom .score strong {
    font-size: 26px;
}
.log_comm .score {
    width: 450px;
}
.log_comm .score dl {
    clear: left;
}
.log_comm .score dt {
    float: left;
    width: 230px;
    margin-bottom: 20px;
}
.rule_comm .comm_cont p{
    color: #575757;
    text-align: left;
    line-height: 20px;
}
.rule_comm .comm_cont span {
    color: #ff1427;
}






















/*footer*/
.footer {
    border-top: 1px solid #eee;
}
.footer_content {
    display: block;
    width: 750px;
    margin: 0 auto;
    padding-top: 10px;
}
.footer_content dl {
    display: block;
    float: left;
    width: 150px;
}
.footer_content dl dt {
    color: #ffb400;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.footer_content dl dd a {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    color: #8e8e8e;
}
.footer_content a:hover {
    color: #ffb400;
}
.footer_links {
    display: inline-block;
    width: 1200px;
    text-align: center;
    margin-top: 20px;
}
.footer_links a {
    color: #8e8e8e;
    margin: 0 5px;
}
.copyright {
    text-align: center;
    margin-bottom: 25px;
    color: #8e8e8e;
}