/*
* 主页样式
*/

/*公用*/
body {
    background-color: #fff;
}
.comwidth {
    width: 1200px;
    margin: 0 auto;
}
.down {
    /*border-left: 6px solid transparent;*/
    /*border-right: 6px solid transparent;*/
    /*border-top: 6px solid #575757;*/
    /*border-bottom: 6px solid transparent;*/
    border-color: #575757 transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    border-width: 6px;
    position: absolute;
}
.up {
    /*border-left: 6px solid transparent;*/
    /*border-right: 6px solid transparent;*/
    /*border-bottom: 6px solid #575757;*/
    border-color: transparent transparent #575757 transparent;
    border-style: dashed dashed solid dashed;
    border-width: 6px;
    position: absolute;
}
.left {
    /*border-left: 6px solid transparent;*/
    /*border-right: 6px solid #575757;*/
    /*border-top: 6px solid transparent;*/
    /*border-bottom: 6px solid transparent;*/
    border-color: transparent #575757 transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 6px;
    position: absolute;
}
.right {
    /*border-left: 6px solid #575757;*/
    /*border-right: 6px solid transparent;*/
    /*border-bottom: 6px solid transparent;*/
    /*border-top: 6px solid transparent;*/
    border-color: transparent transparent transparent #575757;
    border-style: dashed dashed dashed solid;
    border-width: 6px;
    position: absolute;
}
a:hover {
    text-decoration: underline;
}
.fl {
    float: left;
}
.fr {
    float: right;
}








/*header_top*/
.header_top {
    display: block;
    overflow: hidden;
    height: 29px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    font-family: "Microsoft Yahei", "微软雅黑";
    background-image: -webkit-linear-gradient(bottom, #fff, #eee);
    background-image: -moz-linear-gradient(bottom, #fff, #eee);
    background-image: -o-linear-gradient(bottom, #fff, #eee);
    background-image: -ms-linear-gradient(bottom, #fff, #eee);
    color: #8e8e8e;
}
.header_left {
    display: block;
    float: left;
    overflow: hidden;
}
.header_left span{
    line-height: 15px;
}
.header_right li {
    float: right;
    display: block;
    line-height: 29px;
    padding-left: 10px;
    overflow: hidden;
}

.header_right li a {
    color: #8e8e8e;
}
/*header_bottom*/
.header_bottom {
    height: 79px;
    border-bottom: 1px solid #eee;
}
.header_bottom .category {
    position: relative;
    width: 220px;
    height: 69px;
    float: left;
    overflow: hidden;
}
.category a{
    line-height: 94px;
    color: #ffb400;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 30px;
}
.category .angle {
    top: 44px;
    left: 150px;
    border-top-color: #ffb400;
}
.search {
    float: left;
    margin: 17px 10px 0;
}
.search input[type="text"] {
    float: left;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    width: 600px;
    border: 2px solid #ffb400;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -ms-border-radius-topleft: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    padding: 0 5px;
}
.search input[type="submit"] {
    float: right;
    height: 39px;
    width: 80px;
    font-size: 16px;
    color: #fff;
    background-color: #ffb400;
    font-family: "Microsoft Yahei", "微软雅黑";
    cursor: pointer;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    -moz-border-top-right-radius: 0.3em;
    -moz-border-bottom-right-radius: 0.3em;
    -webkit-border-top-right-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
}
.user {
    float: left;
    height: 28px;
    width: 108px;
    margin: 25px 15px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    position: relative;
}
.user .user_text img, .cart .shop_text img  {
    padding: 3px 0 0 10px;
}
.user .user_text a, .cart .shop_text a {
    float: right;
    color: #575757;
    font-size: 16px;
    font-family: "Microsoft Yahei", "微软雅黑";
    line-height: 28px;
    margin-right: 18px;
    overflow: hidden;
}
.user_list {
    display: none;
    width: 108px;
    height: 104px;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 20;
    top: 28px;
    right: 0;
    background-color: #fefefe;
}
.user_list li {
    height: 26px;
    width: 108px;
}
.user_list li a {
    padding: 5px 25px;
    font-size: 14px;
    line-height: 26px;
    color: #8e8e8e;
}
.user_list li:hover {
    background-color: #ffb400;
}
.user_list li a:hover {
    text-decoration: none;
    color: #fafafa;
}
.cart {
    float: right;
    height: 28px;
    width: 108px;
    border: 1px solid #ddd;
    margin: 25px 5px;
    background-color: #f7f7f7;
    position: relative;
}
.cart .shop_num {
    position: absolute;
    top: 0;
    left: 17px;
    color: #ff1427;
    font-size: 18px;
    font-weight: bolder;
}
.cart .cart_list {
    display: none;
    width: 348px;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 20;
    top: 29px;
    right: 0;
    background-color: #fefefe;
    box-shadow: 0 0 10px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.12);
}
.cart_list .cart_goods {
    display: none;
}
.cart_list .cart_title {
    height: 25px;
    padding: 6px 10px;
    border-bottom: 1px solid #eee;
    line-height: 25px;
}
.cart_list .cart_content {
    background: #fff;
    height: auto;
    max-height: 344px;
    overflow-y: auto;
}
.cart_list .cart_content li {
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    vertical-align: bottom;
}
.cart_list .cart_content li .p_img {
    border: 1px solid #ddd;
    margin-right: 10px;
}
.cart_list .cart_content li .p_name {
    width: 150px;
    height: 52px;
}
.cart_list .cart_content li a {
    color: #005ea7;
}
.cart_list .cart_content li a:hover {
    color: #ff1427;
}
.cart_list .cart_content li .p_price {
    color: #8e8e8e;
    font-weight: 700;
    text-align: right;
}
.cart_list strong, .cart_list em {
    color: #ff1427;
    font-family: "Microsoft Yahei", "微软雅黑";
}
.cart_list .cart_submit {
    padding: 8px;
    background: #F5F5F5;
}
.cart_list .cart_submit .submit_text {
    font-size: 14px;
    font-family: "Microsoft Yahei", "微软雅黑";
    padding-top: 10px;
}
.cart_list .cart_submit a {
    display: inline-block;
    width: 120px;
    height: 30px;
    margin-top: 6px;
    background: #E4393C;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
}
.cart_list .cart_empty {
    //display: none;
    padding: 30px;
    height: 49px;
    line-height: 49px;
    overflow: hidden;
    color: #999;
    text-align: center;
}
.cart_list .cart_empty .nogoods img {
    float: left;
    margin-left: 20px;
}
.user .user_text .angle, .cart .shop_text>.angle {
    display: inline;
    top: 13px;
    right: 3px;
    border-top-color: #575757;
}












/*content_main*/
.content_main {
    position: relative;
    margin-bottom: 10px;
}
.content_main .cat_left {
    display: inline;
    border: 2px solid #ffb400;
    width: 216px;
    position: absolute;
    top: -10px;
    background-color: #fafafa;
    z-index: 1;
}
.cat_left li {
    height: 46px;
    position: relative;
    padding-left: 20px;
}
.cat_left li:hover {
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.cat_left .lihover .submenu{
    display: block;
}
.cat_left .lihover .blank {
    width: 20px;
    height: 46px;
    background-color: #fff;
    position: relative;
    float: right;
    z-index: 10;
    display: inline-block;
}
/*.cat_left li img {
    position: absolute;
    top: 8px;
    left: 10px;
    vertical-align: middle;
}*/
.cat_left li s {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: -5px;
    background-image: url(../image/icon/icon.png);
    background-repeat: no-repeat;
}
.cat_left li .s1 {background-position: -68px 0;  }
.cat_left li .s2 {width: 39px; margin-right: 11px; background-position: -238px 0;}
.cat_left li .s3 {background-position: -102px 0;}
.cat_left li .s4 {background-position: 0 0;}
.cat_left li .s5 {background-position: -34px 0;}
.cat_left li .s6 {background-position: -204px 0;}
.cat_left li .s7 {background-position: -170px 0;}
.cat_left li .s8 {background-position: -136px 0;}
.cat_left li>a {
    line-height: 46px;
    color: #8e8e8e;
    font-size: 18px;
    font-family: "Microsoft Yahei", "微软雅黑";
}
.cat_left li a:hover {
    color: #ffb400;
    font-weight: bolder;
    text-decoration: none;
}
.cat_left .angle {
    display: block;
    border-left-color: #8e8e8e;
    top: 8px;
    right: 5px;
    //z-index: 5;
}
/*submenu*/
.submenu {
    display: none;
    left: 210px;
    position: absolute;
    top: -1px;
    border: 1px solid #DDD;
    z-index: 8;
    background: white;
    box-shadow: 0 0 8px #DDD;
    -moz-box-shadow: 0 0 8px #DDD;
    -webkit-box-shadow: 0 0 8px #DDD;
}
.leftdiv {
    float: left;
    width: 490px;
    margin: 5px;
}
.leftdiv dl {
    display: block;
    border-bottom: 1px solid #EEE;
    padding-bottom: 6px;
    overflow: hidden;
}
.leftdiv dl dt {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    height: 24px;
    line-height: 24px;
    padding-right: 6px;
    color: #ffb400;
    font-size: 11pt;
}
.leftdiv dl dt a {
    color: #ffb400;
    font-size: 11pt;
    text-decoration: underline;
}
.leftdiv dl dd {
    display: block;
    overflow: hidden;
}
.leftdiv dl dd a {
    display: block;
    float: left;
    border-left: 1px solid #CCC;
    color: #737373;
    font-size: 10pt;
    padding: 0 8px;
    height: 18px;
    line-height: 18px;
    margin: 4px 0;
}
/*nav_center*/
.content_main .nav_center {
    height: 358px;
    width: 718px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
}
.nav_center .pic li {
    float: left;
    display: none;
}
.nav_center .pic li img {
    width: 720px;
    height: 350px;
}
.nav_center .num {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 5;
}
.nav_center .num li {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: #8e8e8e;
    overflow: hidden;
}
.nav_center .num li a {
    line-height: 20px;
    padding: 8px;
    color: #fefefe;
    cursor: default;
}
.nav_center .num li a:hover, .nav_center .num .current a {
    text-decoration: none;
    background-color: #ffb400;
}
/*nav_right*/
.content_main .nav_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 218px;
    margin-top: 10px;
}
.nav_right .logistics_top {
    height: 27px;
    background-color: #ffb400;
}
.nav_right .logistics_top a {
    color: #fafafa;
    line-height: 30px;
    font-size: 18px;
    margin-left: 65px;
}
.nav_right .logistics_main {
    border: 1px solid #eee;
    border-top: none;
    background-color: #fff;
    color: #737373;
    font-family: "Microsoft Yahei", "微软雅黑";
}
.nav_right .logistics_main dl {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}
.nav_right .logistics_main .month {
    border-bottom: 1px solid #eee;
}
.nav_right .logistics_main dt {
    font-size: 16px;
    color: #ffb400;
    font-weight: bolder;
    padding: 5px 0;
}
.nav_right .logistics_main dd {
    margin-left: 10px;
    height: 30px;
}
.nav_right .logistics_main dd img {
    width: 50px;
    height: 40px;
    vertical-align: middle;
    margin: 0 15px;
}
.nav_right .logistics_main .sf span {
    display: inline-block;
    width: 50px;
    height: 40px;
    vertical-align: middle;
    margin: 0 15px;
    background-image: url(../image/logo/logistics.png);
    //background-repeat: no-repeat;
    //background-position: 0 0;
    //background: url(../image/logo/CssGaga.png) no-repeat -1px -1px;
}
.nav_right .logistics_main dd a {
    color: #737373;
    line-height: 30px;
}
.nav_right .logistics_main dd a:hover {
    color: #ffb400;
    font-weight: bolder;
}
/*content_recomm*/
.content_recomm .recomm_title h2{
    color: #ffb400;
    font-size: 22px;
}
.content_recomm .recomm_title h3 {
    color: #ccc;
}
.recomm_goods>div {
    display: inline;
    position: relative;
    z-index: 0;
    float: left;
    margin: 5px;
}
.recomm_goods div img {
    width: 290px;
    height: 190px;
}
.recomm_goods .wrap_left {
    display: block;
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 190px;
    background-color: rgba(255, 255, 255, 0);
}
.recomm_goods .wrap_left .s_link {
    text-decoration: none;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.recomm_goods .wrap_left dt {
    margin: 15px 10px 10px;
}
.recomm_goods .wrap_left dt a {
    color: #000;
    font-size: 18px;
    font-weight: bolder;
    font-family: "Microsoft Yahei", "微软雅黑";
}
.recomm_goods .wrap_left dd {
    margin-left: 15px;
    padding-bottom: 5px;
}
.recomm_goods .wrap_left dd a {
    color: #ffb400;
    font-family: "Microsoft Yahei", "微软雅黑";
    font-size: 14px;
}
.recomm_goods div a:hover {
    background-color: rgba(255, 180, 0, 0.1);
    text-decoration: none;
}










/*footer*/
.footer {
    border-top: 1px solid #eee;
}
.footer_content {
    display: block;
    width: 750px;
    margin: 0 auto;
    padding-top: 10px;
}
.footer_content dl {
    display: block;
    float: left;
    width: 150px;
}
.footer_content dl dt {
    color: #ffb400;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.footer_content dl dd a {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    color: #8e8e8e;
}
.footer_content a:hover {
    color: #ffb400;
}
.footer_links {
    display: inline-block;
    width: 1200px;
    text-align: center;
    margin-top: 20px;
}
.footer_links a {
    color: #8e8e8e;
    margin: 0 5px;
}
.copyright {
    text-align: center;
    margin-bottom: 25px;
    color: #8e8e8e;
}